.table {
    margin-top: 20px;
}

.col-title {
    margin: 10px;
}

.form-large {
    margin: 10px;
}

  /* Task menu on the top */
  .task-menu {
    width: 100%; /* Full width */
    z-index: 10; /* Stay behind the modal, but on top of everything else */
    padding: 15px;
    top: 0;
    position: sticky;
    background-color: #fefefe;
    border-bottom-style: solid;
    border-bottom-color: #c9c9c9;
    border-bottom-width: 1px;
  }

  .btn-top-menu {
    margin: 5px;
  }

  /* Question mark for server info message */
  .server-info-icon:hover,
  .server-info-icon:focus {
    text-decoration: none;
    cursor: pointer;
  }

  .server-info-message {
    visibility: hidden;
    position: absolute;
    z-index: 15;
    padding: 5px;
    padding-left: 20px;
    background-color: #329c40;
    border-radius: 5px; /* Make it al roundy and stuff */
  }

  .server-info-icon:hover .server-info-message {
    visibility: visible;
  }

  .btn {
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;;
  }